URxvt.font: xft:Ubuntu Mono:size=10
URxvt.letterSpace: 0
URxvt.scrollBar: false

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

!hard contrast: 
*background: #1d2021
!*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2


!! Badwolf Color Scheme
!! --------------------
!! Colors definition {{{
!#define   plain            #f8f6f2
!#define   snow             #ffffff
!#define   coal             #000000
!#define   bg               #121212
!
!#define   brightgravel     #d9cec3
!#define   lightgravel      #998f84
!#define   gravel           #857f78
!#define   mediumgravel     #666462
!#define   deepgravel       #45413b
!#define   deepergravel     #35322d
!#define   darkgravel       #242321
!#define   blackgravel      #1c1b1a
!#define   blackestgravel   #141413
!
!#define   dalespale        #fade3e
!#define   dirtyblonde      #f4cf86
!#define   taffy            #ff2c4b
!#define   saltwatertaffy   #8cffba
!#define   tardis           #0a9dff
!#define   orange           #ffa724
!#define   lime             #aeee00
!#define   dress            #ff9eb8
!#define   toffee           #b88853
!#define   coffee           #c7915b
!#define   darkroast        #88633f
!! }}}
!
!! Resources {{{
!*background:  bg 
!*foreground:  plain
!
!!        black
!*color0:      gravel
!*color8:      darkgravel
!!        red
!*color1:      taffy
!*color9:      taffy
!!        green
!*color2:      lime
!*color10:     lime
!!        yellow
!*color3:      dalespale
!*color11:     orange
!!        blue
!*color4:      tardis
!*color12:     tardis
!!        magenta
!*color5:      dress
!*color13:     dress
!!        cyan
!*color6:      saltwatertaffy
!*color14:     saltwatertaffy
!!        white
!*color7:      brightgravel
!*color15:     snow
!! }}}
